<%- include('../../partials/header.ejs'); %>
<body>
  <%- include('../../partials/navbar.ejs'); %>
  <div class="container">
    <hr />
    <div class="card">
      <div class="card-header">
        <h2>Cadastro de categoria</h2>
      </div>
      <div class="card-body">
        <form method="POST" action="/articles/update">
          <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Defina o título da artigo"
            value="<%= article.title %>"
          />
          <br />
          <textarea
            id="article"
            class="form-control"
            name="body"
            placeholder="Escreva o artigo aqui!"
          >
          </textarea>
          <br />
          <select class="form-control" name="categoryId">
            <% categories.forEach((category)=>{%>
            <%if(category.id==article.categoryId){ %>
            <option value="<%= category.id %>" selected>
              <%= category.title %>
            </option>
            <%}else{ %>
            <option value="<%= category.id %>"><%= category.title %></option>
            <%}%> <% }) %>
          </select>
          <br />
          <input type="hidden" value="<%= article.id %>" name="id" />
          <button type="submit" class="btn btn-success">Atualizar</button>
        </form>
      </div>
    </div>
  </div>
  <div id="content" style="display: none"><%- article.body %></div>
  <script src="/tinymce/tinymce.min.js"></script>
  <script>
    tinymce.init({
      language: "pt_BR",
      selector: "#article",
      plugins: [
        "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons",
      ],
      init_instance_callback: () => {
        tinymce.get("article").setContent($("#content").html());
      },
    });
  </script>
  <%- include('../../partials/footer.ejs') %>
</body>
